<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <title>E U R O V I S I O N  B I N G O</title>
</head>
<body>
<h1 align="center">Eurovision Bingo!</h1>
<script>
    function setColor(e) {
      var target = e.target,
          count = +target.dataset.count;

       target.style.backgroundColor = count === 1 ? "#FFB6C1" : '#FFFFFF';
       target.dataset.count = count === 1 ? 0 : 1;
    }
</script>

<table width="90%", max-width="1200px" align="center">
  {% for sublist in options %}
    <tr>
        {% for item in sublist %}
            <td width="20%">
                <div class="button"
                     type="button"
                     onclick="setColor(event)";
                     data-count="1">
                    {{ item }}
                </div>
            </td>
        {% endfor %}
    </tr>
  {% endfor %}
</table>

<div>
    <br />
    <br />
    <br />
    <form action="" method="post">
        {% csrf_token %}
         <p align="center">Refresh for a new card, or enter a memorable word for a card you'll get back if you lose your connection:</p>
            <p display="inline" align="center">
                {{ form }}
                <input type="submit" value="Go" width="20%" backgroundcolor="blue">
            </p>
    </form>
    <p align="center"><a href="https://github.com/ChrisFairless/eurovision_bingo">Source code</a></p>
</div>

</body>
</html>